body, .container, #box1, #box2, #box3 {
    border: 2px solid rgba(0, 0, 0, 1);
}

body {
    margin-inline: 20%; //margin-left & right
}

.section {
    margin: 3%;
}
.box {
    display: flex;
    column-gap: 2em;
    margin-bottom: 3%;
}
  
.box > * {
    flex: 1;
}

#box1, #box2 {
    height: 20rem;
}

#box3,#box1, #box2 {
    padding: 5%;
}