div {padding:20px;color:#FFF;}
#wrapper {width:400px;}
#div-1 {background:#000;}
#div-2 {background:#C0C;}
#div-3 {background:#666;}
#div-a {background:#339;}
#div-b {background:#66C;}
#div-c {background:#99F;}