.p-button.p-button-raised {
    margin: 0.5rem;
    display: block;
    width: 90%;
}

.p-button {
    margin: 0.5rem;
    overflow: hidden;
    position: relative;
    text-align: center;
}
div.p-field {
    padding: 0.35rem;
}

input {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#hover:hover {
    display: block;
    background-color: rgb(94, 195, 0);
    color: black;
}
#toggle-btn,#toggle-btn2 {
    margin: 0.5rem;
    overflow: hidden;
    display: block;
}