// div {
//     display: flex;  
//     flex-wrap: wrap;
//   }

// .p-col-6 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//    }

.p-button.p-button-raised {
    margin: 0.5rem;
}

.p-button {
    margin: 0.5rem;
    overflow: hidden;
    position: relative;
}
div.p-field {
    padding: 0.35rem;
}
